@import "compass/css3";

@import "compass/css3/border-radius";

body {
    font-family: 'Raleway';
}

.clear {
  clear: both;
  content: '';
  display: block; 
}

article.post {
    background-color: white;
    border-bottom: 1px dotted rgba(180, 180,   180, 1);
    margin: 1% 0 2% 5%;
    padding: 50px 0 0px 110px;
    height: 250px;
    width: 60%;
    &:last-of-type {
      border-bottom: 0;
      padding-bottom: 0;
    }
    &:after {
       @extend .clear; 
    } 
}

.headerImageText {
    font-family: 'Open Sans';
    position: absolute;
    font-size: 4em;
    top: 35%;
    left: 38%;
    color: white;
}

.headerImage {
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 5%;
    z-index: -1;
}

.articleImage {
    height: 50%;
    width: 100%;
    margin-left: 7%;
}

img.thumbnail {
    float: left;
    position: relative;
    margin-top: -2%;
    margin-left: -2%;
    height: 250px;
    width: 250px;
    margin-right: 5%;
}

h1.articleHeader {
    font-weight: bold;
    color: black;
    letter-spacing: 0;
    text-align: left;
    margin: 5% 0 7% 10%;
}

h1.title {
    text-transform: none;
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    margin:0;   
    font-family: 'Montserrat';
    letter-spacing: 2px;
}

h1.title:hover {
    text-decoration: underline;
}

a {
    color: #ef8e41;
    text-decoration: none;
}

p {
    color: #696969;
}

time {
    display: block;
    text-align: right;
    margin-right: 10%;
    display: relative;
    font-size: 1em;
    color: #acacac;
}

#articlesWrapper {
    margin-top: 10%;
}

/* Articles */

.articleContainer {
    width: 60%;
    margin: 10% 0 0 3em;
}

.articleTitle {
    font-family: 'Montserrat Alternates', serif;
    font-weight: bold;
    text-align: left;
    color: #f5964a;
    text-transform: none;
    margin-left: 2em;
    letter-spacing: 1px;
}

.additionalInfo {
    font-family: 'Raleway', serif;
    font-style: italic;
    text-align: left;
    color: black;
    text-transform: none;
    margin-left: 3em;
    letter-spacing: 1px;
}

.articleText {
    line-height: 1.9em;
    font-family: 'Raleway', serif;
    text-align: left;
    color: black;
    text-transform: none;
    margin-left: 4em;
    letter-spacing: 1px;
}