/* Index Page */

a {
    text-decoration: none;
}

#mainHeader {
    background-image: url("../images/header.jpg");
    margin-top: 2%;
    width: 100%;
    height: 900px;
}

.mainText {
    font-family: 'Raleway';
    font-size: 2em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: 20%;
}

#learnAbout {
    margin-bottom: 5%;
    left: -5%;
}

#story {
    font-weight: 600;
    font-family: 'Kameron';
    font-size: 4em;
}

.columnBody {
    padding: 0 0 45% 0;
}

.columnText {
    font-family: 'Raleway', serif;
    font-weight: 300;
    color: #333;
    text-transform: none;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 60%;
    position: relative;
    top: 30%;
    left: 20%;
}

#quizDesc {
    text-align: left;
    width: 35%;
    float: left;
    margin-top: 10%;
    left: 10%;
}

.columnImage {
    width: 50%;
    float: left;
}

#pencil {
    position: relative;
    margin-top: 10%;
    left: 23%;
}

.info {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 10%; 
    padding: 0.4em;
    position: relative;
    margin-top: 20%;
    left: 45%;
    color: #fff;
    background-color: #ee5315;
}

#quizInfo {
    margin-top: 0;
}

.info:hover {
    background-color: #fff;
    color:#ee5315;
}

.wrapper {
    padding: 5% 0 5% 0;
    margin: 0;
}

#wrapper-one {
    background-color: #fff;
    padding-bottom: 5%;
}

#wrapper-two {
    background-color: #f3f5f7;
}

#wrapper-three {
    background-color: #f4d7eb;
}

#wrapper-text-three {
    color: black;
}

#column-text-three {
    color: black;   
}

#shopDesc {
    text-align: left;
    width: 35%;
    float: left;
    margin-top: 10%;
    left: 10%;
    color: black;
}

#header1 {
    position: relative;
    float: left;
    margin-top: 4em;
    margin-left: 40%;
    width: 50%;
    height: 80%;
    background-color: #fac86c;
}

#header2 {
    margin-left: 10%;
    width: 60%;
    height: 100%;
    background-color: #c4df9b;
}

#feelInspired {
    margin-top: 8%;
    position: relative;
    background-color: #bd8cbf;
    display: inline-block;
    width: 100%;
    padding: 4% 1% 4% 0%;
}

#inspiredTitle {
    position: relative;
    color: #89531c;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inspiredText {
    margin-left: 2%;
    width: 90%;
    font-size: 1.2em;
    font-weight: 300;
}

#quadraCol {
    padding: 0%;
    margin-left: 3%;
    margin-top: 5%;
    width: 100%;
}

.col {
    background-color: #e0ab75;
    width: 16.5%;
    padding: 0;
    display: block;
    float: left;;
    margin-right: 4em;
    margin-left: 3em;
}

.colDescription {
    margin-left: 5%;
    width: 90%;
    text-align: left; 
}

/* quadraCol */

.container {
    position: relative;
    width: 100%;
    background-color: #e0ab75;
    display: block;
    float: left;
}

.image {
  opacity: 1;
  display: block;
  width:80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  position: absolute;
  transition: .5s ease;
  opacity: 0;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: #89531c;
  font-size: 1.2em;
  line-height: 1.9em;
  width: 15em;
  font-weight: 200;
  position: relative;
}

.readMoreContainer {
    position: relative;
    margin-bottom: 6.5%;
}

.readMore {
    display: inline-block;
    width: 100px;
    position: relative;
    border: 1px solid #89531c;
    left: 60%;
    padding: 0.2em;
    text-align: center;
    border-radius: 15px;
}


/* Contact Form */

#contact {
    top: 10%;
    position: relative;
    left: 29%;
    padding: 10% 0 40% 0;
}

div#envelope {
    float: left;
    width: 40%;
    padding: 1.5% 0;
    background-color: #e19fa2;
}

form {
    width:70%;
    margin:4% 15%;
}

header {
    background-color: #e19fa2;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-top: -11px;
    margin-bottom: 10px;
    color: aliceblue;
}

/* Input Fields */

input[type=text] {
    margin-bottom: 20px;
    margin-top: 10px;
    width:100%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #7ac9b7;
}

input[type=submit] {
    margin-bottom: 20px;
    width:100%;
    padding: 15px;
    border-radius:5px;
    border:1px solid #7ac9b7;
    background-color: #e19fa2;
    color: aliceblue;
    font-size:15px;
    cursor:pointer;
}

#submit {
    background-color: #fcf2f1;
    color: #e8b5b8;
    width: 20%;
    font-family: 'Open Sans';
    font-size: 1.2em;
}

#submit:hover {
    background-color: #e8b5b8;
    color: white;
}

textarea {
    width:100%;
    padding: 15px;
    margin-top: 10px;
    border:1px solid #7ac9b7;
    border-radius:5px;
    margin-bottom: 20px;
    resize:none;
}

input[type=text]:focus,textarea:focus {
    border-color: #4697e4;
}

.contactText {
    font-family: 'Open Sans', sans-serif;
    color: #fefbfa;
    text-transform: uppercase;
    letter-spacing: 0px;
}

label {
    font-family: 'Open Sans';
    color: #ffdada;
}

/* About Page */

.aboutContainer {
    margin-bottom: 5%;   
}

#about {
    margin: 7em 0 0 8em;
}

.aboutTitle {
    font-family: 'Montserrat', serif;
    text-align: left;
    color: #ef4b3a;
    text-transform: uppercase;
    letter-spacing: 0px;
}

.aboutDesc {
    font-family: 'Raleway', serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #222;
    text-transform: none;
    letter-spacing: 1px;
    line-height: 2em;
    width: 90%;
    position: relative;
}

@media only screen and (min-width: 769px) and (max-width: 1500px) {
    
    #contact {
    top: 5%;
    position: relative;
    left: 10%;
    padding: 10% 0 30% 0;
    height: 300px;
}
    .text {
  color: #89531c;
  font-size: 1.2em;
  line-height: 1.9em;
  width: 11em;
  font-weight: 200;
  position: relative;
    }
    
    .readMoreContainer {
    position: relative;
    margin-bottom: 6.5%;
    }

    .readMore {
    font-size: 1em;
    display: inline-block;
    width: 100px;
    position: relative;
    border: 1px solid #89531c;
    margin-top: 20%;
    left: 40%;
    padding: 0.2em;
    text-align: center;
    border-radius: 15px;
    }   
    
    .info {
        margin-top: 25%;
    }
    
    #quizInfo {
        margin-top: 6%;
    }
    
    div#envelope {
        width: 80%;
    }
}


@media only screen and (min-width: 0px) and (max-width: 768px) {
    
    #contact {
        height: 400px;
        left: 0%;
    }
    
    div#envelope {
        float: none;
        width: 100%;
    }
    
    #story {
        top: 5%;
    }
    
    .columnText {
        width: 90%;
        line-height: 2em;
        top: 10%;
        left: 5%;
        text-align: justify;
    }
    
    #info-one {
        font-size: 1.2em;
        width: 60%; 
        padding: 0.4em;
        position: relative;
        margin-top: 20%;
        left: 18%;
    }
    
    #pencil {
        position: relative;
        margin-top: 10%;
        left: 5%;
        float: none;
        width: 80%;
    }
    
    #quizDesc, #shopDesc {
    text-align: left;
    width: 90%;
    float: none;
    margin-top: 10%;
    left: 5%;
    height: 300px;
    }
    
    #quizInfo {
        width: 60%;
        left: 18%;
    }
    
    .col {
    width: 70%;
    float: none;
    margin-left: 6em;
    }

    .colDescription {
        margin-left: 5%;
        width: 100%;
        letter-spacing: 0.8px;
    }
    
    .text {
    font-size: 1.7em;
    line-height: 1.9em;
    width: 15em;
    font-weight: 200;
    position: relative;
    }   
    
    .colTitle {
        font-size: 1.8em;  
        padding: 1em 0;
    }

    .container {
    position: relative;
    position: relative;
    width: 100%;
    background-color: #e0ab75;
    display: block;
    float: none;
    }
    
    .readMoreContainer {
    position: relative;
    margin-bottom: 6.5%;
    }

    .readMore {
    font-size: 1.5em;
    display: inline-block;
    width: 200px;
    position: relative;
    border: 1px solid #89531c;
    margin-top: 20%;
    left: 40%;
    padding: 0.2em;
    text-align: center;
    border-radius: 15px;
    }   
    
    .aboutContainer {
        position: relative;
        left: -8%;   
    }
    
}
